@import '../variables';

.breadcrumb {
  font-size: 16px;
  background-color: #F5F5F5;
  padding: 1.2rem 1.6rem 1.3rem;
  border-radius: 3px;

  .breadcrumb-item {

    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      color: #97999B;
    }

    &+.breadcrumb-item:before {
      color: #aaaaaa;
    }

  }

}