.card {
  border-color: $light-04;

  .card-body {
    padding: 3.0rem 1.7rem;
  }

  //TODO: should it match regular a element
  .card-link {
    color: $info;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }

    &:active,
    &.active {
      color: $primary;
    }
  }
}