.dropdown-menu{
  padding: .8rem 1rem;
  border: 1px solid $light-03;
  font-size: 1.4rem;
  border-radius: 3px; //TODO: Should be looked into
}

.dropdown-item {
  color: $dark-01;
  padding: .4rem .2rem;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: $dark-03;
    background-color: $secondary;
  }

  &:active, //TODO: Look into active state, based on 3.5.x
  &.active {
    background-color: $light-01;
  }
}