@import '../variables';

$border-radius-list-group: 3px;

.list-group {

  .list-group-item {
    padding: 2rem;
    border-color: #e2e2e2;
    color: #555;
    font-weight: bold;

    &:first-child {
      border-top-left-radius: $border-radius-list-group;
      border-top-right-radius: $border-radius-list-group;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius-list-group;
      border-bottom-right-radius: $border-radius-list-group;
    }

    &.active {
      background-color: $info;
      border-color: $info !important; //Needs important, bootstrap override with var(blue)
      color: #fff;
    }
  }

  .list-group-item-action {

    &.active {
      text-decoration: none;
    }
  }
}