@import '../variables';

.nav-link {
  //IE
  text-decoration: none;

  --link-color:#{$dark-01};
  --link-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 1.4rem 0.9rem;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    text-decoration: none;
    --link-decoration: none;
    --link-color-hover:#{$blue};
  }

  &:active,
  &.active,
  &[active]:not([active="false"]) {
    --link-color-active:#{$blue};
    &, &:hover {
      border-bottom: 2px solid #{$red};
    }
  }

  &.disabled {
    color: $link-color-disabled;
    --link-color: #{$link-color-disabled};
    font-weight: normal;
  }
}