@import '../variables';

.table {
  border: 1px solid $table-border-color;


  caption {
    caption-side: top;
    padding: .75rem;
    font-weight: bold;
    color: $secondary;
    color: var(--secondary);
    background-color: $primary;
    background-color: var(--primary);
  }
  thead {

    &:first-child {
      color: $secondary;
      color: var(--secondary);
      background-color: $table-thead-bg-color;
    }

    th {
      border: 1px solid $table-thead-border-color;
      border-top-color: $table-thead-border-color;
      border-bottom-color: $table-thead-border-color;
    }
  }
  th,
  td {
    background-color: inherit;
    box-shadow: inherit;
  }
}