:host {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

::slotted(section) {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 992px) {
  :host {
    padding-top: var(--navHeight);
  }
}

// We need this rule because !important will replace IE inline style value on desktop
// set padding-top to unset, auto, or initial on IE desktop will cause flickering because of miscalculation in IE
@media (max-width: 992px) {
  :host {
    padding-top: 0!important;
  }
}