@import '../variables';
@import '../mixins';

// TODO: We might wanna add a global loader to load **
@import '../elements/button.scss';
@import '../elements/table.scss';
@import '../elements/pagination';


// map css properties that will be modified for each element
$util-props: (
  bg : background-color,
  text : color,
  border: border-color
);

@each $key, $value in $util-props {
  .#{$key} {
   
    @each $type in $types {
      &-#{$type} {
        #{$value}: map-get($interaction-colors, $type) !important;
        #{$value}: var(--#{$type}) !important;
      }
    }
  }
}

$elements : alert, badge, table, list-group-item;

@each $el in $elements {
  .#{$el} {
    @each $type in join($interaction-types, $interaction-types3) {
      $selector: if($el == table, '&-#{$type} th, &-#{$type} td', '&-#{$type}');
      #{$selector} {
        background-color: map-get($interaction-colors, $type);
        background-color: var(--#{$type});
        color: #fff;
        color: var(--white);
      }
    }
  }
}
