@import '../variables';
@import '../mixins';

// This file is generated and will exist in dist
@import url(../fonts/fonts.css);


// Merge all colors in to theme-colors and 
// let "root.scss" render the css variables
@each $type in ($theme-colors, $primary-colors, $secondary-colors, $tertiary-colors, $gray-colors, $element-colors) {
  $theme-colors: map-merge($theme-colors, $type);
}


// Bootstrap imports
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/root';


// Output rules
* {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $body-color;
  margin: 0;
  flex: 1;
}
a {
  color: var(--link-color);
  text-decoration: var(--link-decoration, none);
  background-color: var(--link-bg, inherit);

  &:hover,
  &:active,
  &.active {
    color: var(--link-color-hover);
    text-decoration: var(--link-decoration-hover, underline);
  }
}
p {
  margin-bottom: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  color: var(--headings-color);
  font-weight: bold;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 0;
  }
}
h1,
h2,
h3 {
  margin-top: 2.5rem;
}
h4,
h5,
h6 {
  margin-top: 1.5rem;
}

@include renderMap($heading-sizes, 'font-size');

h5,
h6 { font-family: $font-family-base; }
h6 { font-style: italic; }

article {
  font-family: $font-family-article;
  font-size: $font-size-article;

  @include renderMap($heading-sizes-article, 'font-size');
}

body.nav-show {
  overflow: hidden;
}

@media (min-width: 992px) {
  body.nav-show {
    overflow: auto;
  }
}

// .app {

//   body,
//   body& {

//   }
// }
