/*
Small: sm - 320px 4 col
Medium: md - 672px 8 col
Large: lg - 1065px 16 col
XLarge: xlg - 1312px 16 col
XXLarge: xxlg - 1584px 16 col
*/

//TODO: Add rem instead of px
$sdds-grid-breakpoints: (
  sm: (
    width: 320px,
    columns: 4,
    margin: 0,
    padding: 8px,
    gutter: 32px
  ),
  md: (
    width: 672px,
    columns: 8,
    margin: 16px,
    padding: 8px,
    gutter: 32px
  ),
  lg: (
    width: 1056px,
    columns: 16,
    margin: 16px,
    padding: 8px,
    gutter: 32px
  ),
  xlg: (
    width: 1312px,
    columns: 16,
    margin: 16px,
    padding: 16px,
    gutter: 32px
  ),
  xxlg: (
    width: 1584px,
    columns: 16,
    margin: 24px,
    padding: 16px,
    gutter: 32px
  ),
) !default;

//TODO: add gutterless as map
$sdds-grid-breakpoints-gutterless: (
  sm: (
    width: 320px,
    columns: 4,
    margin: 0,
    padding: 16px,
    gutter: 0
  ),
  md: (
    width: 672px,
    columns: 8,
    margin: 16px,
    padding: 16px,
    gutter: 0px
  ),
  lg: (
    width: 1056px,
    columns: 16,
    margin: 16px,
    padding: 16px,
    gutter: 0px
  ),
  xlg: (
    width: 1312px,
    columns: 16,
    margin: 16px,
    padding: 16px,
    gutter: 0px
  ),
  xxlg: (
    width: 1584px,
    columns: 16,
    margin: 24px,
    padding: 16px,
    gutter: 0px
  ),
) !default;