// Gray colors
$gray-100:      #f8f9fa;
$gray-200:      #e9ecef;
$gray-300:      #dee2e6;
$gray-400:      #ced4da;
$gray-500:      #adb5bd;
$gray-600:      #6c757d;
$gray-700:      #495057;
$gray-800:      #343a40;
$gray-900:      #212529;

$grays: ();

// Global colors
$white:         #fff;
$black:         #000;
$blue:          #007bff;
$indigo:        #6610f2;
$purple:        #6f42c1;
$pink:          #e83e8c;
$red:           #dc3545;
$orange:        #fd7e14;
$yellow:        #ffc107;
$green:         #28a745;
$teal:          #20c997;
$cyan:          #17a2b8;

$colors: ();

// Interaction colors
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();

// Theme colors
$theme-01:      #041e42;
$theme-02:      #fafafa;
$theme-03:      #d6001c;

$primary-01:    #c8c9c7;
$primary-02:    #97999b;
$primary-03:    #53565a;
$primary-04:    #2d2926;

$secondary-01:  #e35205;
$secondary-02:  #ceb888;
$secondary-03:  #94a596;
$secondary-04:  #2c5234;

$tertiary-01:   #448691;
$tertiary-02:   #5e3885;
$tertiary-03:   #005d6d;
$tertiary-04:   #e1a93e;
$tertiary-05:   #896a73;
$tertiary-06:   #5da7a9;
$tertiary-07:   #60b269;
$tertiary-08:   #ff7b7d;

// Font settings
$font-size-base:              1.4rem;
$font-weight-normal:          400;
$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

$h1-font-size:                $font-size-base * 1.72;
$h2-font-size:                $font-size-base * 1.43;
$h3-font-size:                $font-size-base * 1.29;
$h4-font-size:                $font-size-base * 1.14;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$font-family-sans-serif:      'Scania Sans Semi Condensed', 'Scania Sans Condensed', Arial, Helvetica, sans-serif;
$font-family-monospace:       $font-family-sans-serif;
$font-family-base:            $font-family-sans-serif;

$headings-font-family:        'Scania Sans Headline', Arial, Helvetica, sans-serif;
$headings-color:              $theme-01;

$body-bg:                     $white;
$body-color:                  $primary-03;

$link-color:                  $tertiary-01;

$font-size-article:           1.8rem;
$font-family-article:         'Scania Sans', Arial, Helvetica, sans-serif;

$h1-font-size-article:        $font-size-article * 5;
$h2-font-size-article:        $font-size-article * 3.33;
$h3-font-size-article:        $font-size-article * 1.94;
$h4-font-size-article:        $font-size-article * 1.33;
$h5-font-size-article:        $font-size-article;
$h6-font-size-article:        $font-size-article;
