$link-color: #fff;
$link-color-hover: darken($link-color, 100%);

%nav-link {
  color: $link-color; // Fallback for non supported browsers
  color: var(--link-color);
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
// Sass compiler renders :hover and :before differently
// and this is due to browsers lackof support
%nav-link-hover {
  text-decoration: underline;
}
%nav-link-social {
  color: $link-color; // Fallback for non supported browsers
  color: var(--link-color);
  border: 2px solid white;
  border-radius: 22px;
  padding: 8px;
  line-height: 0;
  margin-top: 30px;
  margin-right: 20px;
}
%nav-link-social-hover {
  --link-bg: white;
  --link-color-hover: black;

  // These are used for elements rendered inside host by data
  color: var(--link-color-hover);
  background-color: var(--link-bg);
}

:host {
  --link-color: #{$link-color};
  --link-color-hover: #{$link-color};

  background-color: #000;
}

::slotted(a) {
  @extend %nav-link;
}
// Due to browsers not supporting: ::slotted(a):hover 
// we need to have the hover separated instead of nested
::slotted(a:hover) {
  @extend %nav-link-hover;
}
::slotted(a[slot="social-items"]) {
  @extend %nav-link-social;
}
::slotted(a[slot="social-items"]:hover) {
  @extend %nav-link-social-hover;
}

p {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  padding: 50px 10px;
  margin: 0;
  width: 100%;
}

.navbar {
  padding: 0;

  .navbar-nav {
    text-transform: uppercase;
    font-family: 'Scania Sans';
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    width: 100%;

    .nav-item {

      &.nav-link {
        @extend %nav-link;

        &:hover,
        &:focus {
          @extend %nav-link-hover;
        }
      }
    }
  }
}
.social-items {
  padding-left: 20px;

  a.social-item {
    @extend %nav-link-social;

    &:hover  {
      @extend %nav-link-social-hover;
    }
    &:last-of-type {
      @extend %nav-link-social-last;
    }

    a {
      padding: 0;
    }
  }
}
.navbar-brand {
  width: 100%;
  padding: 30px 10px 0;
  margin: 0;
  background-color: #000;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 182px;
    height: 31px;
    background-size: 100%;
    background-repeat: no-repeat;
    // These files are generated and will exist in dist
    background-image: url(../images/wordmark-white.png);
    background-image: url(../images/wordmark-white.svg);
  }
}

@media (min-width: 992px) {

  %nav-link-desktop {
    text-decoration: none;
    padding: 0;
    margin-right: 15px;
  }
  // Sass compiler renders :hover and :before differently
  // and this is due to browsers lackof support
  %nav-link-hover-desktop {
    text-decoration: underline;
  }
  %nav-link-social-desktop {
    margin-top: 0;
  }

  :host {
    background-color: #000;
    color: #97999b;
    padding: 46px 30px 35px;
  }

  ::slotted(a) {
    @extend %nav-link-desktop;
  }
  // Due to browsers not supporting: ::slotted(a):hover 
  // we need to have the hover separated instead of nested
  ::slotted(a:hover) {
    @extend %nav-link-hover-desktop;
  }
  ::slotted(a[slot="social-items"]) {
    @extend %nav-link-social-desktop;
  }

  p {
    text-align: left;
    padding: 0;
    margin: 15px 0 0;
    font-size: 1rem;
    color: #97999b;
  }

  .navbar {
    flex-flow: row wrap;

    .navbar-nav {
      margin-top: 0px;
  
      .nav-item {

        &.nav-link {
          @extend %nav-link-desktop;
  
          &:hover {
            @extend %nav-link-hover-desktop;
          }
        }
      }
    }
  }
  .social-items {
    margin-bottom: 20px;
    text-align: left;
    
    a.social-item {
      @extend %nav-link-social-desktop;
    }
  }
  .navbar-brand {
    padding: 0;
    height: 0; /* To make the aligning of items/social items work */
    display: flex;

    &:before {
      margin-left: auto;
    }
  }
}

// handling for hover styling in IE and Edge (should target social-media a:hover)
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  ::slotted(a[slot="social-items"]:hover) {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 22px;
  }
}

@supports (-ms-ime-align:auto) {
  ::slotted(a[slot="social-items"]:hover) {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 22px;
  }
}
